### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [4]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [23]:
len(purchase_data["SN"].unique())

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [41]:
num_items = purchase_data["Item Name"].count()
unique_items = len(purchase_data["Item Name"].unique())
#len(purchase_data["Item Name"].unique())
total_cost = sum(purchase_data["Price"])
#print(total_cost)
average_cost =  total_cost / num_items
new_frame = { "Num_Items" : [num_items] , "Unique_ITems" : [unique_items] , "Total Revenue" : [total_cost], "Average": [average_cost]}
new_pd  = pd.DataFrame.from_dict(new_frame)
new_pd

   Num_Items  Unique_ITems  Total Revenue   Average
0        780           179        2379.77  3.050987

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [74]:
unique_players = purchase_data[["SN","Gender"]].drop_duplicates()
#print (unique_1)
#unique_players = unique_1["SN"].unique()
#print(unique_players)
males = unique_players.Gender.str.count("Male").sum()
females = unique_players.Gender.str.count("Female").sum()
num_items = len(unique_players)
print (males) 
print (females) 
print (num_items)
other = num_items - males - females 
print (other)
per_m = males / num_items * 100
per_f = females / num_items * 100 
other_f = other / num_items * 100

new_f = {"Gender" : ["M", "F" , "O"],
          "count" : [males, females, other],
         "percent" : [per_m, per_f, other_f]
}

new_pd  = pd.DataFrame.from_dict(new_f)
new_pd

484
81
576
11

  Gender  count    percent
0      M    484  84.027778
1      F     81  14.062500
2      O     11   1.909722


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [89]:
data = purchase_data[["SN","Gender","Price"]]
rslt_m = data[data['Gender'] =="Male" ] 
rslt_f = data[data['Gender'] =="Female" ]
rslt_o = data[data['Gender'] == "Other / Non-Disclosed"]

count_m = len(rslt_m)
count_f = len(rslt_f)
count_o =len(rslt_o)
total_m = sum(rslt_m["Price"])
total_f = sum(rslt_f["Price"])
total_o = sum(rslt_o["Price"])
avg_m = total_m/males
avg_f = total_f/females
avg_o = total_o/other

summary =  {"Gender" :  ["M" , "F" , "O"] ,
           "count "  :  [count_m,count_f,count_o] ,
            "total price" : [ total_m, total_f, total_o] ,
            "Avg "   : [ avg_m,avg_f, avg_o ]}
new_pd  = pd.DataFrame.from_dict(summary)
new_pd

  Gender  count   total price      Avg
0      M     652      1967.64  4.065372
1      F     113       361.94  4.468395
2      O      15        50.19  4.562727

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [142]:
bins = [0 ,10,15,20,25,30,35,40,100]
labels = ["0-10","10-15","15-20", "20-25", "25-30" ,"30-35", "35-40" , "40+"]
#binned_data = purchase_data.groupby(pd.cut(purchase_data["Age"], bins, labels = labels))
binned_data = pd.cut(purchase_data["Age"], bins, labels = labels)
print(type(binned_data))

new_data  = purchase_data.groupby(binned_data)['Price'].agg(['count', 'sum'])
#new_data =  purchase_data.groupby(binned_data)["Age"].sum()
new_data["sum%"] = new_data["count"] / ( count_m + count_f + count_o) * 100
print(new_data)
#bin_groups = binned_data.groupby["Age"]
#myframe = pd.Series.to_frame(binned_data)
#print(pd.value_counts(binned_data))
#binned_data.groupby(bins)['Value'].agg(['count', 'sum']
type(new_data)                    
#grouped = myframe.group_by("Age")
#new_pd  = pd.DataFrame.from_dict(binned_data)
#new_pd
#print(binned_data)

<class 'pandas.core.series.Series'>
       count     sum       sum%
Age
0-10      32  108.96   4.102564
10-15     54  156.60   6.923077
15-20    200  621.56  25.641026
20-25    325  981.64  41.666667
25-30     77  221.42   9.871795
30-35     52  155.71   6.666667
35-40     33  112.35   4.230769
40+        7   21.53   0.897436

pandas.core.frame.DataFrame

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [165]:
bins = [0 ,10,15,20,25,30,35,40,100]
labels = ["0-10","10-15","15-20", "20-25", "25-30" ,"30-35", "35-40" , "40+"]
#binned_data = purchase_data.groupby(pd.cut(purchase_data["Age"], bins, labels = labels))
binned_data = pd.cut(purchase_data["Age"], bins, labels = labels)
#print((binned_data))

new_data  = purchase_data.groupby(binned_data)['Price'].agg(['count' , 'sum'])
new_data["average cost"] = new_data['sum']/new_data['count']
print(new_data)
#new_data =  purchase_data.groupby(binned_data)["Age"].sum()
#new_data["sum%"] = new_data["count"] / ( count_m + count_f + count_o) * 100

       count     sum  average cost
Age
0-10      32  108.96      3.405000
10-15     54  156.60      2.900000
15-20    200  621.56      3.107800
20-25    325  981.64      3.020431
25-30     77  221.42      2.875584
30-35     52  155.71      2.994423
35-40     33  112.35      3.404545
40+        7   21.53      3.075714

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [183]:
grouped_data = purchase_data.groupby(["SN"])
grouped_data["Price"].sum().sort_values(ascending=False)

#type(grouped_data["Price"].sum())
#print(grouped_data)
#grouped_data.head(10)

TypeError: 'DataFrameGroupBy' object does not support item assignment

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [192]:
new_data  = purchase_data.groupby(["Item ID", "Item Name"])
new_data["Price"].count().sort_values(ascending=False)

Item ID  Item Name
178      Oathbreaker, Last Hope of the Breaking Storm    12
82       Nirvana                                          9
108      Extraction, Quickblade Of Trembling Hands        9
145      Fiery Glass Crusader                             9
92       Final Critic                                     8
                                                         ..
42       The Decapitator                                  1
118      Ghost Reaver, Longsword of Magic                 1
104      Gladiator's Glaive                               1
27       Riddle, Tribute of Ended Dreams                  1
51       Endbringer                                       1
Name: Price, Length: 183, dtype: int64

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [190]:
new_data  = purchase_data.groupby(["Item ID", "Item Name"])
new_data["Price"].sum().sort_values(ascending=False)

Item ID  Item Name
178      Oathbreaker, Last Hope of the Breaking Storm    50.76
82       Nirvana                                         44.10
145      Fiery Glass Crusader                            41.22
92       Final Critic                                    39.04
103      Singed Scalpel                                  34.80
                                                         ...
125      Whistling Mithril Warblade                       2.00
126      Exiled Mithril Longsword                         2.00
23       Crucifer                                         1.99
104      Gladiator's Glaive                               1.93
42       The Decapitator                                  1.75
Name: Price, Length: 183, dtype: float64